{% extends 'base.html' %}
 {% import 'macros.html' as macro%}
{% import 'bootstrap/wtf.html' as wtf %}
{%block styles%}
  {{ super() }}
{%endblock%}

<!-- content block -->
{% block content %}
<div class="container">
    <div class="row">
        <div class= "col-md-3"> </div>
  <div class="col-md-6">
    <div class="jumbotron">
      <hr>
      {{wtf.quick_form(form)}}
   </div>
  </div>
  <div class= "col-md-3"> </div>
</div>
</div>
{% for data in comment %}
<div class="jumbotron col-md-8">
  <P>{{data.comment_name}}</P>
  <p>{{data.timestamp}}</p>
  <a href="/delete_comment/{{data.id}}"> <button class="btn btn-outline-danger btn-sm"  style="color:white;">Delete Comment</a></button>
</div>
{% endfor %}
{% endblock %}
