{% extends 'base.html' %}
{% block content %}
<div class="container-fluid">
    {% for project in project %}
        <div class="card text-center col-md-4" style="width: 30rem;">
            <div class="card-header success-color white-text">
                {{project.title}}
            </div>
            <div class="card-body">
                    <h4 class="card-title">{{project.category}}</h4>
                    <p class="card-text">{{project.actual_post}}</p>
                    <img src={{project.photo}} alt="screenshot" class="img-thumbnail">
                    <br>
                    <a href="/" class="btn btn-success btn-sm" >Git Hub link</a>
                </div>
            <div class="card-footer text-muted success-color white-text">
                        <p class="mb-0">{{project.timestamp.strftime('%D %m %y')}}</p>
                    </div>
                </div>

    {% endfor %}
            
</div>
        
{% endblock %}
<style>
    * {
        box-sizing: border-box;
    }
    
    /* Create three equal columns that floats next to each other */
    .column {
        float: left;
        width: 33.33%;
        padding: 10px;
        height: 300px; /* Should be removed. Only for demonstration */
    }
    
    /* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>